{% extends 'base.html' %}

{% block content %}
<!-- Esta é a classe principal do Bootstrap para centrar e alinhar o conteúdo -->
<div class="container my-4">
    <h2 class="display-4">Categorias</h2>
    <a class="btn btn-primary" href="{% url 'categoria_create' %}">Adicionar Categoria</a>
    <ul class="list-group">
        {% for categoria in categorias %}
        <li class="list-group-item">{{ categoria.nome }}</li>
        {% endfor %}
    </ul>
</div>



    <hr>
    <hr>
    <hr>
    <hr>
    <h1>TESTANDO O TEMPLATE</h1>
    <div class="col-md-12">
        <div class="header-content-page">
            <h2 class="subtitle semi-bold mn-null">
                Totais do orçamento
            <div class="hr-dashed"></div>
            </h2>
        </div>
        <div class="col-md-12 pn">
            <div class="row">
                <div class="col-md-2">
                    <div class="group-default">
                        <label for="valor_total_produtos">Custo de todos os produtos</label>
                        <input type="text" class="input-default" id="valor_total_produtos" name="valor_total_produtos" readonly="readonly">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="group-default">
                        <label for="valor_IPI">Venda Todos os produtos</label>
                        <input type="text" class="input-default validadeNumber validateFormat calculaTotal" id="valor_IPI" name="valor_IPI" readonly="readonly">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="group-default">
                        <label for="frete_pedido">Lucro em R$ geral</label>
                        <input type="text" class="input-default validadeNumber validateFormat calculaTotal" name="frete_pedido" id="frete_pedido">
                    </div>
                </div>
                <div class="col-md-3 pn">
                    <div class="group-default">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="desconto_pedido">Ganho de % geral</label>
                            </div>
                            <div class="col-md-6 ms-xs-top">
                                <input name="desconto_pedido" type="text" id="desconto_pedido" class="input-default validadeNumber validateFormat calculaTotal" placeholder="R$">
                            </div>
                            <div class="col-md-4 pn ms-xs-top">
                                <input name="desconto_pedido_porc" type="text" maxlength="6" id="desconto_pedido_porc" data-casas="4" class="input-default validadeNumber validateFormat calculaTotal " placeholder="%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pn">
                    <div class="group-default">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Peso Bruto - Líquido</label>
                            </div>
                            <div class="col-md-6 ms-xs-top">
                                <input name="peso_total_nota" type="text" id="peso_total_nota" class="input-default validadeNumber validadeFormatCasas" placeholder="Bruto">
                            </div>
                            <div class="col-md-4 pn ms-xs-top">
                                <input name="peso_total_nota_liq" type="text" id="peso_total_nota_liq" class="input-default validadeNumber validadeFormatCasas" placeholder="Líquido">
                            </div>
                            <input type="hidden" id="peso_liquido_calculo" name="peso_liquido_calculo" value="">
                            <input type="hidden" id="peso_total_calculo" name="peso_total_calculo" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 pn top-spacing">
            <div class="row">
                <div class="col-md-3">
                    <div class="group-default">
                        <label for="valor_total_nota"><span class="green text-nowrap">Valor total do orçamento</span></label>
                        <input type="text" id="valor_total_nota" name="valor_total_nota" class="input-default input-success" readonly="readonly">
                    </div>
                </div>
                <div class="col-md-1 top-spacing self-end excluirP">
                    <span class="in-block tip top" data-tooltip="Calcular totais do orçamento">
                        <button class="btn-icon btn-icon-normal btn-icon-primary btn-icon-reload" type="button" id="btn-calcular-orcamento" name="btn-calcular-orcamento"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>


    {% endblock %}
    