{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Dashboard</h1>

        <h2>Item mais vendido e menos vendido</h2>
        <h3>Dia:</h3>
        <ul>
            <li>Mais vendido: {{ item_mais_vendido_dia.produto__nome }} ({{ item_mais_vendido_dia.total }} vendas)</li>
            <li>Menos vendido: {{ item_menos_vendido_dia.produto__nome }} ({{ item_menos_vendido_dia.total }} vendas)</li>
        </ul>
        <h3>Mês:</h3>
        <ul>
            <li>Mais vendido: {{ item_mais_vendido_mes.produto__nome }} ({{ item_mais_vendido_mes.total }} vendas)</li>
            <li>Menos vendido: {{ item_menos_vendido_mes.produto__nome }} ({{ item_menos_vendido_mes.total }} vendas)</li>
        </ul>

        <h2>Quantidade total de itens vendidos</h2>
        <h3>Dia: {{ quantidade_total_vendida_dia }}</h3>
        <h3>Mês: {{ quantidade_total_vendida_mes }}</h3>

        <h2>Valor total de todas as vendas</h2>
        <h3>Dia:</h3>
        <ul>
            <li>Credito: R$ {{ valor_total_vendas_dia.credito|default:0 }}</li>
            <li>Debito: R$ {{ valor_total_vendas_dia.debito|default:0 }}</li>
            <li>PIX: R$ {{ valor_total_vendas_dia.pix|default:0 }}</li>
            <li>Dinheiro: R$ {{ valor_total_vendas_dia.dinheiro|default:0 }}</li>
        </ul>
        <h3>Mês:</h3>
        <ul>
            <li>Credito: R$ {{ valor_total_vendas_mes.credito|default:0 }}</li>
            <li>Debito: R$ {{ valor_total_vendas_mes.debito|default:0 }}</li>
            <li>PIX: R$ {{ valor_total_vendas_mes.pix|default:0 }}</li>
            <li>Dinheiro: R$ {{ valor_total_vendas_mes.dinheiro|default:0 }}</li>
        </ul>

        <h2>Valor das vendas separados</h2>
        <h3>Dia:</h3>
        <ul>
            <li>Credito: R$ {{ valor_vendas_dia.0.total|default:0 }}</li>
            <li>Debito: R$ {{ valor_vendas_dia.1.total|default:0 }}</li>
            <li>PIX: R$ {{ valor_vendas_dia.2.total|default:0 }}</li>
            <li>Dinheiro: R$ {{ valor_vendas_dia.3.total|default:0 }}</li>
        </ul>
        <h3>Mês:</h3>
        <ul>
            <li>Credito: R$ {{ valor_vendas_mes.0.total|default:0|floatformat:2 }}</li>
            <li>Debito: R$ {{ valor_vendas_mes.1.total|default:0 }}</li>
            <li>PIX: R$ {{ valor_vendas_mes.2.total|default:0 }}</li>
            <li>Dinheiro: R$ {{ valor_vendas_mes.3.total|default:0 }}</li>
        </ul>
        <div class="group-default">
            <label for="valor_total_produtos">Custo de vendas dos produtos</label>
            <input type="text" class="input-default" id="valor_total_produtos" name="valor_total_produtos" readonly="readonly" value="{{ custo_total_produtos }}">
        </div>
    
        <h2>Filtros</h2>
        <form method="GET" action="">
            <label for="mes">Filtrar por mês:</label>
            <select name="mes" id="mes">
                <option value="">Todos</option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
                
                <!-- Adicione os meses restantes aqui -->
                
            </select>

            <label for="dia">Filtrar por dia:</label>
            <input type="date" name="dia" id="dia">

            <label for="item">Filtrar por item:</label>
            <select name="item" id="item">
                <option value="">Todos</option>
                <!-- Adicione os itens aqui -->

            </select>

            <label for="forma_pagamento">Filtrar por forma de pagamento:</label>
            <select name="forma_pagamento" id="forma_pagamento">
                <option value="">Todos</option>
                <option value="credito">Crédito</option>
                <option value="debito">Débito</option>
                <option value="pix">PIX</option>
                <option value="dinheiro">Dinheiro</option>
            </select>

            <button type="submit">Aplicar filtros</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>


    <script>
        $(document).ready(function() {
        $('#valor_total_produtos').inputmask('R$ 999.999,99', { numericInput: true });
        });
    </script>
{% endblock %}

