{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block importacoes %} 
<link href="{% static 'css/dash.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        
        <div class="templatemo-content">
            <div class="panel panel-default  panel-fundo">
                <h1>Dashboard</h1>
            </div>

            <div class="panel panel-default  panel-fundo">
                <div class="panel-padrao">Filtros
                    <span class="pull-right">
                        <a href="./?a=analitics&d=2023"><i class="fa-solid fa-calendar-days"></i> Ano atual</a>
                        <a href="./?a=analitics&filtro=outradata"><i class="fa-solid fa-calendar-days"></i> Outro
                            ano</a>
                    </span>
                </div>
            </div>
            <hr>
            <div class="container-fluid">
                <div class="panel-fundo row">
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-cash-register"></i>
                                            Faturamento</b></a></small>
                                <h3 class="count">R$ {{ total_vendas_dia }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_vendas_mes }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_vendas_ano }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_vendas_geral }}</span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i
                                            class="fa-solid fa-bag-shopping"></i>Vendas</b></a></small>
                                <h3 class="count"> R$ {{ total_itens_vendidos_dia }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_itens_vendidos_mes }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_itens_vendidos_ano }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_itens_vendidos_geral }}</span></div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-coins"></i> Ticket
                                            Médio</b></a></small>
                                <h3 class="count">R$ {{ ticket_medio_dia }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ ticket_medio_mes }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ ticket_medio_ano }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ ticket_medio_geral }}</span></div>
                            </div>
                        </div>
                    </div>
            
            
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-file-invoice-dollar"></i>
                                            Custos</b></a></small>
                                <h3 class="count">R$ 0,00</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ 385,00</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ 385,00</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ 385,00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="panel-fundo row">
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b>Provisionamento</b></a></small>
                                <h5 class="count">R$ 2,65</h5>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ 79,50</span></div>
                                <div style="display: none;">
                                    <div class="separada"><span>Este ano</span> <span style="float: right;">R$ 102,87</span>
                                    </div>
                                    <div class="separada"><span>P.5 anos</span> <span style="float: right;">R$ 514,35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b>Lucroreal</b></a></small>
                                <h5 class="count">R$ {{ lucro_real }} <span style="font-size: 12px;">{{ media_itens_vendidos }}%</span></h5>
                                <div class="separada">
                                    <span>Este mês</span> <span style="float: right;">R$ 0,00</span>
                                </div>
                                <div style="display: none;">
                                    <div class="separada">
                                        <span>Este ano</span> <span style="float: right;">R$ 102,87</span>
                                    </div>
                                    <div class="separada">
                                        <span>P.5 anos</span> <span style="float: right;">R$ 514,35</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="panel-fundo row">
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-cash-register"></i>
                                            Vendas Credito</b></a></small>
                                <h3 class="count">R$ {{ total_vendas_credito|floatformat:2|localize }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_vendas_credito|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_vendas_credito|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_vendas_credito|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i
                                            class="fa-solid fa-bag-shopping"></i>Vendas Debito</b></a></small>
                                <h3 class="count"> R$ {{ total_vendas_debito|floatformat:2|localize }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_vendas_debito|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_vendas_debito|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_vendas_debito|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-coins"></i>Vendas PIX</b></a></small>
                                <h3 class="count">R$ {{ total_vendas_pix|floatformat:2|localize }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_vendas_pix|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_vendas_pix|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_vendas_pix|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-file-invoice-dollar"></i>Vendas Dinheiro</b></a></small>
                                <h3 class="count">R$ {{ total_vendas_dinheiro|floatformat:2|localize }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_vendas_dinheiro|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_vendas_dinheiro|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_vendas_dinheiro|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-fundo row">
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-file-invoice-dollar"></i>Vendas Cliente</b></a></small>
                                <h3 class="count">R$ {{ total_vendas_cliente|floatformat:2|localize }}</h3>
                                <div class="separada"><span>Este mês</span> <span style="float: right;">R$ {{ total_vendas_cliente|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Este ano</span> <span style="float: right;">R$ {{ total_vendas_cliente|floatformat:2|localize }}</span></div>
                                <div class="separada"><span>Geral</span> <span style="float: right;">R$ {{ total_vendas_cliente|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-file-invoice-dollar"></i>Produto MAIS Vendido</b></a></small>
                                <h3 class="count">R$ {{ produto_mais_vendido.produto__nome }}</h3>
                                <div class="separada"><span>Nome</span> <span style="float: right;">R$ {{ produto_mais_vendido.produto__nome }}</span></div>
                                <div class="separada"><span>Quantidade</span> <span style="float: right;">R$ {{ produto_mais_vendido.quantidade_total }}</span></div>
                                <div class="separada"><span>Valor</span> <span style="float: right;">R$ {{ produto_mais_vendido.valor_total|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><a href="#"><b><i class="fa-solid fa-file-invoice-dollar"></i>Produto MENOS Vendido</b></a></small>
                                <h3 class="count">R$ {{ produto_menos_vendido.produto__nome }}</h3>
                                <div class="separada"><span>Nome</span> <span style="float: right;">R$ {{ produto_menos_vendido.produto__nome }}</span></div>
                                <div class="separada"><span>Quantidade</span> <span style="float: right;">R$ {{ produto_menos_vendido.quantidade_total }}</span></div>
                                <div class="separada"><span>Valor</span> <span style="float: right;">R$ {{ produto_menos_vendido.valor_total|floatformat:2|localize }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-fundo row align-items-center justify-content-center">
                    <br>
                    <div style="margin-bottom: 50px; margin-top: 25px ; color: #9dc0df; text-align: center;">
                        "Não to mandei eu? Esforça-te e tem bom ânimo; não pasmes, nem te espantes, 
                            porque o SENHOR, teu Deus, é contigo, por onde quer que andares."
                    </div>
                </div>   
            </div>
            
            <hr>

            <div class="panel-fundo">
                <div class="panel-padrao">Analises
                    <span class="pull-right"></span>
                </div>
                <div class="panel-body" >
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 01/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 02/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 03/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 04/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 05/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            102,87</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$
                                            102,87</span></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 06/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            444,70</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            385,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$
                                            59,70</span></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 07/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 08/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 09/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 10/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 11/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="panel panel-default twitter">
                                <div class="panel-body">
                                    <small class="social-title"><b>Mês 12/2023</b></small>
                                    <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                            1000</span></div>
                                    <div class="separada"><span>Despesas</span> <span style="float: right;">R$
                                            0,00</span></div>
                                    <div class="separada"><span>Lucro</span> <span style="float: right;">R$ 0,00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="panel-fundo">
                <div class="panel-padrao">Analise Geral
                    <span class="pull-right"></span>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><b>Ano 2023</b></small>
                                <div class="separada"><span>Faturamento </span> <span style="float: right;">R$
                                        137,57</span></div>
                                <div class="separada"><span>Despesas</span> <span style="float: right;">R$ 385,00</span>
                                </div>
                                <div class="separada"><span>Lucro</span> <span style="float: right;">R$ -247,43</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default twitter">
                            <div class="panel-body">
                                <small class="social-title"><b>Geral</b></small>
                                <div class="separada"><span>Faturamento Preco Compra </span> <span style="float: right;">R$
                                    {{ soma_total_produtos_preco_compra }}</span></div>
                                <div class="separada"><span>Faturamento Preço Venda</span> <span style="float: right;">R$ {{ soma_total_produtos_preco_venda }}</span>
                                </div>
                                <div class="separada"><span>Lucro total</span> <span style="float: right;">R$ {{ soma_total_produtos_lucro_reais }}</span>
                                </div>
                                <div class="separada"><span>Retorno total</span> <span style="float: right;">R$ {{ custo_total_produtos }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>


    <script>
        $(document).ready(function() {
        $('#valor_total_produtos').inputmask('R$ 999.999,99', { numericInput: true });
        });
    </script>
{% endblock %}

