{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Venda de Produto</h1>
  <form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <button type="submit">Adicionar ao carrinho</button>
    
  </form>
  <br>
  <hr>

  <h2>Carrinho</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="table-warning">Produto</th>
        <th class="table-warning">Quantidade</th>
        <th class="table-warning">Preço</th>
        <th class="table-warning">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in carrinho %}
        <tr>
          <td>{{ item.nome }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ item.preco }}</td>
          <td>{{ item.subtotal }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Total: {{ total|floatformat:2 }}</h3>
  {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
      {% endfor %}
  {% endif %}
      <br>
  {% if carrinho %}

  <hr>
  <button type="button" class="btn btn-primary" id="finalizar-venda">Finalizar Venda</button>

  <div id="opcoes-pagamento" style="display: none;">
      <h3>Forma de pagamento:</h3>
      <form method="post" action="{% url 'finalizar_venda' %}">
        {% csrf_token %}
        <p>
            <label for="{{ pagamento_form.forma_pagamento.id_for_label }}">Forma de Pagamento:</label>
            {{ pagamento_form.forma_pagamento }}
        </p>
        <div class="form-group" id="valor-recebido" style="display:none;">
            <label for="valor_recebido">Valor Recebido:</label>
            <input type="number" step="0.01" name="valor_recebido" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Confirmar Pagamento</button>
    </form>
    
  </div>
  <br>
  <br>
  <br>
  {% endif %}


  {% block extra_js %}
    <script>
      document.querySelector('[name=forma_pagamento]').addEventListener('change', verificarPagamentoInicial);
      document.getElementById('finalizar-venda').addEventListener('click', function() {
          document.getElementById('opcoes-pagamento').style.display = 'block';
        });

        // Adicione este script
        var pagamentos = document.querySelectorAll('[name=forma_pagamento]');
        for (var i = 0; i < pagamentos.length; i++) {
            pagamentos[i].addEventListener('change', function() {
                var valorRecebidoDiv = document.getElementById('valor-recebido');
                if (this.value === 'dinheiro') {
                    valorRecebidoDiv.style.display = 'block';
                } else {
                    valorRecebidoDiv.style.display = 'none';
                }
            });
        }

        // Adicione esta função
        function verificarPagamentoInicial() {
            var formaPagamentoSelecionada = document.querySelector('[name=forma_pagamento]:checked');
            var valorRecebidoDiv = document.getElementById('valor-recebido');
            
            if (formaPagamentoSelecionada.value === 'dinheiro') {
                valorRecebidoDiv.style.display = 'block';
            } else {
                valorRecebidoDiv.style.display = 'none';
            }
        }

        // Chame a função quando a página carregar
        verificarPagamentoInicial();
    </script>
  {% endblock %}
{% endblock %}