/* Reset básico de estilo para a página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização da fonte e cores */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* Estilização do container */
.container1 {
    width: 80%;
    margin: auto;
    padding: 15px ;
    text-align: center;
    background: #050233;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow-x: hidden;
}


/* Estilização do título */
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #4a4a4a;
}

/* Estilização do parágrafo */
p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #666;
}
