{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>
        {% if form.instance.pk %}
            Editar
        {% else %}
            Criar
        {% endif %} usuário
    </h2>
    <form method="post">
    {% csrf_token %}
        <table>           
            {{ form.as_table }}
        </table>
        
        
        {% if form.instance.pk %}
            <button type="submit">Salvar</button>
        {% else %}
            <button type="submit">Cadastrar</button>
        {% endif %} 
    </form>
</div>
        {% endblock %}
