{% extends 'base.html' %}
{% load static %}

{% block importacoes %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="templatemo-content" style="background: linear-gradient(90deg, #000000 0%, #1a1919c2 85%, #88836be1 140%);">
    <div class="container">
        <div class="panel rod">
            <h1>Bem-vindo à nosso sistema!</h1>
            <p>Simplifique a gestão da sua empresa com nosso sistema</p>
            <p>Aqui voce faz o melhor Gerenciamento.</p>
        </div>
    </div>
</div>
{% endblock %}
